.example-card {
    width: 400px;
}

.header {
    justify-content: center;
    color: #11bf54;

}
.button{
    background-color: #11bf54;
}

.login {
    justify-content: center;
    display: flex;
    height: max-content;
    padding-top: 15%;
}


.form-login {
    display: flex;
}

.footer {
    justify-content: center;
    width: 100%;
    display: flex;
}

.footer .button {
    width: 100%;
}

.example-full-width {
    width: 100%;
}
