.title {
    font-size: 24px;
}

.content {
    height: 100%;
    display: flex;
    justify-content: center;
}

mat-form-field {
    width: 100%;
}

mat-sidenav-container {
    width: 100%;
}

mat-sidenav {
    width: 13%;
    padding: 15px;
}

mat-sidenav-content {
    width: 87%;
    background-color: white;
    max-height: 100%;
}


.example-card {
    width: 90%;
    height: 90%;
    border: solid 1px;
}

.btn {
    background-color: #11bf54;
    color: whitesmoke;
    margin-left: 10px;
    float: right;
}


.boxImage {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    height: 50%;
}

.image {
    width: 50%;
    height: 90%;
    margin-top: 10px;
}

.boxButton {
    height: 12%;
    width: 100%;
    display: flex;
    justify-content: end;
}

.btnCart {
    border-color: #11bf54;
    border-style: solid;
    color: #11bf54;
}

