.header {
    height: 60px;
    background-color: #11bf54;
    display: flex;
}

.logoImage {
    height: 110px;
    cursor: pointer;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user {
    display: flex;
    justify-content: end;
}

mat-icon {
    color: whitesmoke;
    font-size: 35px;
}

.menuItem {
    color: whitesmoke;
    font-size: 20px;
    margin-left: 2%;
}
