<h1 mat-dialog-title>{{title}}</h1>

<div mat-dialog-content *ngIf="action !== ACTION_DELETE">
    <mat-grid-list cols="2" rowHeight="3:1">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field appearance="outline">
                <mat-label>Tài khoản</mat-label>
                <input matInput [(ngModel)]="sysUserId" required>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field appearance="outline">
                <mat-label>Mật khẩu</mat-label>
                <input matInput [(ngModel)]="password" required>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field appearance="outline">
                <mat-label>Tên tài khoản</mat-label>
                <input matInput [(ngModel)]="userName" required>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field appearance="outline">
                <mat-label>Role</mat-label>
                <mat-select [(value)]="role" class="select">
                    <mat-option>None</mat-option>
                    <mat-option required *ngFor="let role of roleList" value="{{role.value}}">{{role.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>
        
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field appearance="outline">
                <mat-label>Trạng thái</mat-label>
                <mat-select [(value)]="status" class="select">
                    <mat-option>None</mat-option>
                    <mat-option required *ngFor="let status of statusList" value="{{status.value}}">{{status.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field appearance="outline">
                <mat-label>Ghi chú</mat-label>
                <input matInput [(ngModel)]="remarks">
            </mat-form-field>
        </mat-grid-tile>

    </mat-grid-list>
</div>

<div *ngIf="action === ACTION_DELETE">
    {{message}}
</div>

<div mat-dialog-actions align="end">
    <button mat-stroked-button class="btnNo" (click)="onNoClick()">Đóng</button>
    <button mat-raised-button (click)="onYesClick()" class="btnYes" color="primary">{{titleYes}}</button>
</div>